{
  "extends": "@aaronghx/eslint-config",
  "rules": {
    "no-console": "off",
    "no-undef": "off",
    "promise/param-names": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}

